
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial;
    background-color: lightgray;
}

header {
    background-color: darkblue;
    color: white;
    padding: 15px;
}
.main {
    display: flex;
}
#sidebar {
    width: 200px;
    padding: 15px;
    background-color: gray;
}

#sidebar ul li {
    margin: 10px 0;
}
.content {
    padding: 20px;
    width: 100%;
    background-color: white;
}


.card {
    margin: 10px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 8px;
    display: inline-block;
    background-color: lightblue;
}
.credit, .debit {
    font-weight: bold;
}
.credit {
    color: green;
}

.debit {
    color: red;
}


table {
    width: 100%;
    margin-top: 10px;
}

th {
    background-color: darkblue;
    color: white;
    padding: 8px;
}

td {
    padding: 8px;
}
form {
    margin-top: 15px;
    padding: 10px;
    background-color: lightgray;
    border: 1px solid black;
}
input[type="password"] {
    border: 2px solid red;
}

button {
    padding: 8px 15px;
    background-color: blue;
    color: white;
    border: none;
}
button:active {
    background-color: navy;
}
footer {
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 10px;
}
