* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 10px;
    background-color: gray;
    color: white;
}

nav {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
}

nav a {
    text-decoration: none;
    color: white;
}


.main {
    display: flex;
}

aside {
    width: 200px;
    padding: 10px;
    background-color: lightgray;
}

input[type="checkbox"] {
    margin-right: 5px;
}

.products {
    display: flex;
    flex-wrap: wrap;
}

.product-card {
    width: 180px;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    box-shadow: 2px 2px 5px gray;
    background-color: white;
    
}


.product-card img {
    width: 100%;
}


.product-card:hover {
    transform: scale(1.05);
    background-color: lightblue;
}




.product-card button {
    padding: 5px 10px;
    background-color: blue;
    color: white;
    border: none;
}


.product-card button:hover {
    background-color: darkblue;
}


#cart {
    width: 200px;
    padding: 10px;
    border: 1px solid black;
    background-color: lightgray;
}


footer {
    padding: 10px;
    text-align: center;
    background-color: gray;
    color: white;
}
